# SPDX-License-Identifier: PMPL-1.0-or-later
# .editorconfig — nafa-app (NAFA: Neurodiverse App for Adventurers)

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

[*.{md,adoc}]
trim_trailing_whitespace = false

[*.{js,jsx,mjs}]
indent_size = 2

[*.{res,resi}]
indent_size = 2

[*.{ncl}]
indent_size = 2

[*.{json,yaml,yml,toml}]
indent_size = 2

[*.{sh,bash}]
indent_size = 2

[*.{scm}]
indent_size = 2

[Containerfile]
indent_size = 2

[justfile]
indent_size = 4

[Justfile]
indent_size = 4

[Mustfile]
indent_size = 2
